<html>
    <head>
        <style>
         input{

         }
        </style>
    </head>
<body>

<p>Click the button to create a Text Field.</p>

<button  onclick="myFunction()">Try it</button>

<script>
function myFunction() {
  var x = document.createElement("INPUT");
  x.setAttribute("type", "text");
  x.setAttribute("value", "Hello World!");
  document.body.appendChild(x);
  
document.getElementById("INPUT").style.color = "blue";
document.getElementById("INPUT").style.fontFamily = "Arial";
document.getElementById("INPUT").style.fontSize = "larger";

document.getElementById("INPUT").style.width = "60px";
document.getElementById("INPUT").style.height = "60px";
}
</script>

    
</div>
</body>
</html>
