<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/7bfc1da72e.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../public/css/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Home</title>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-3" ></div>
            <div class="col-sm-6 main" >
                <form class="post">
                    <h5>Create Your Post:</h5>
                    <textarea id="myTextarea" rows="3" placeholder="Write something..."></textarea><br>
                    <button type="button" class="btn btn-primary" id="btn">Post</button>
                    <hr>
                </form>
                <div class="display-post">
                    <div class="post-author">
                       <div class="author-img"><img src="..//assets/post.jpg" class="rounded-circle" alt="Cinque Terre" width="80" height="80"> </div>
                       <div class="author-details"><br>
                           <p>Birendra Khawash updated his status</p>
                       </div>
                    </div>
                    <hr>
                    <div class="content">
                        <div class="post-description">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam excepturi laboriosam deserunt voluptatum voluptatem omnis, tempora facere nobis porro nihil, fugit ab commodi dicta natus earum? Nihil id dolores expedita.</p>
                        </div>
                        <div class="image-div">
                            <img src="..//assets/post.jpg" class="rounded" alt="Cinque Terre" width="304" height="236"> 
                        </div><br>
                        <div class="like-comment-share">
                            <button type="button" class="btn btn-primary"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-info" id="show-comments"><i class="fa fa-comment" aria-hidden="true"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-success"><i class="fa fa-share-alt-square" aria-hidden="true"></i>
                            </button>
                        </div><br>
                        <div class="display-comment">
                            <p>you are great</p>
                        </div>
                        <br>
                        <div class="comment-box">
                            <input type="text" class="comment" placeholder="Write your comments..." id="comment-id">
                            <button type="button" class="btn btn-dark" id="comment-btn">Comment</button>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" ></div>
        </div>
    </div>
    <script src="../public/js/home.js"></script>
</body>
</html>