 /* .card{
    float: left;
     background-color: lightgrey; 
}  */
h2.textcolor{
    color:yellow
}

body{
    background-color:white;
}
.card{
    background-color:lightgrey;
}

a.text-color{
    color:white;
}  
a img{
    height: 40px;
    width: 35px;
}
li a{
    font-weight: bold;
}
.spacing li{
    width: 150px;
}
.name{
    font-size: 30px;
    color:yellow;
    background-color:black;
}

/* y */
/* .fakeimg {
    height: 200px;
    background: #aaa;
  } */