/* .card{
    float: left;
    /* background-color: rgba(20, 230, 167, 0.651); */
    
    /* float:left;
}
h2.textcolor{
    color: azure;
}
.container{
    background-color: rgb(194, 193, 193);
    float: left;
    width: 100%!important;
}
.card-title{
    color: rgb(0, 0, 0);
    text-align: center;
} */
.bg-color{
    background-color: grey;
}


/* y */
/* .fakeimg {
    height: 200px;
    background: #aaa;
  } */